:root {
  --primary-color: hsl(257, 40%, 49%);
  --secondary-color: hsl(300, 69%, 71%);
}

body {
  background-image: url(images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 20px;
  background-color: var(--primary-color);
}
main {
  display: grid;
  row-gap: 20px;
}
.img-content {
  margin-bottom: 30px;
  max-width: 333px;
  margin: 0 auto;
}
.logo {
  width: 115px;

  margin-bottom: 30px;
}
.mockusp-image {
  width: 100%;
}
.title,
.paragraph {
  color: white;
  text-align: center;
  margin: 0 auto;
}
.title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  max-width: 300px;
}
.paragraph {
  max-width: 290px;
  margin: 0 auto;
  font-family: "Open-sans", sans-serif;
}
.register {
  padding: 10px;
  border-radius: 28px;
  border: transparent;
  width: 200px;
  color: var(--primary-color);
  margin: 0 auto;
  cursor: pointer;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.212) 1px 1px 1px 1px;
}
.register:hover {
  background-color: var(--secondary-color);
  color: white;
}
.social-media {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  justify-self: center;
}
.icon {
  border-radius: 5px;
}
.icon:hover {
  background-color: var(--secondary-color);
}

@media screen and (min-width: 900px) {
  body {
    background-image: url(images/bg-desktop.svg);
    display: grid;
    padding: 40px;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
  main {
    display: flex;
    margin-top: 120px;
    flex-direction: column;
  }
  .title,
  .paragraph {
    text-align: left;
    margin: 0;
  }
  .title {
    font-size: 35px;
    max-width: 450px;
    line-height: 45px;
  }
  .paragraph {
    max-width: 440px;
    line-height: 20px;
  }
  .logo {
    margin-bottom: 60px;
  }
  .register {
    margin: 0;
    height: 50px;
    width: 150px;
  }
  .img-content {
    max-width: 100%;
  }
  .logo {
    width: 180px;
  }
  .social-media {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    margin: 0 auto;
  }
}
